{% extends 'base.html' %} 

{% block content %}

<body>
    <center>
      <h1>Dosen Pendidikan Matematika</h1>
    </center>
    <br>
   
    
    <center>
    <table border="1" style="background-color:#A1C298;">
        <tr>
          <tr bgcolor="#DBC8AC">
            <th>No</th>
            <th>NIP</th>
            <th>Nama</th>
            <th>Jabatan</th>
            <th>Fakultas</th>
            <th>Email</th>
            <th>Foto</th>
            <th>ACTION</th>
        </tr>
        </tr>

        {% for dosen in lecturer %}
          <tr>
            <td><a href="{% url 'ubah_dosen' dosen.id %}">{{dosen.no}}</a></td>
              <td>{{dosen.nip}}</td>
              <td>{{dosen.nama}}</td>
              <td>{{dosen.jabatan}}</td>
              <td>{{dosen.fakultas}}</td>
              <td>{{dosen.email}}</td>
              <td>
                  {% if dosen.foto %}
                  <img src="{{ dosen.foto.url }}" width="100px">
                  {% endif %}
              </td>
              <td>
                <a href="{% url 'hapus_dosen' dosen.id %}" class="btn btn-danger">Hapus</a>
            </td>
          </tr>
          {% endfor %}
      
  </table>

  </center>

  </body>

{% endblock %}